{% extends "encyclopedia/layout.html" %}

{% block body %}
    
    <form action="{% url 'newPage' %}" method="GET">
        {% csrf_token %}
        <label for="w3review">Wiki Title</label>
        <textarea id="markDownTitle" name="markDownTitle" cols="50" style="width: auto; height: 30px;position: relative; top: 7px;"></textarea>
        <textarea id="markDownBody" name="markDownBody" cols="50">Type your text here</textarea>
          <br><br>
          <input type="submit" value="Submit">
        </form>
{% endblock %}